.landing {
  display: flex;
  height: 100vh;
}

.left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.right {
  flex: 1;
  position: relative;
}

.leftWrapper {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro {
  font-size: 30px;
  font-weight: 300;
}

.name {
  font-size: 60px;
}

.description {
  font-size: 20px;
  color: white;
  font-weight: 500;
  margin-right: 60px;
  white-space: nowrap;
}

.scrollContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  height: 40px; /* Adjust based on your font size */
}

.scrollContent {
  display: inline-flex;
  animation: scrollText 10s linear infinite;
}

@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}